[Desktop Entry]
Name=Massimizza Finestra
Comment=Activate Maximize Window from screen edge
Icon=kwin
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=true
X-KDE-PluginInfo-Author=Kyo Kusanagi
X-KDE-PluginInfo-Email=kyokusa73@gmail.com
X-KDE-PluginInfo-Name=maximize_window
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=maximize_window

